{% extends 'conteudo.html' %}

{% block estilo %}

    .card {
        background-color: #001D3D;
        color: #FFF;
        border-radius: 15px !important;
        box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.4) !important;
    }

{% endblock %}

{% block titulo %}
    <div class="card card-header mt-5 mb-3">
        <h1>Editar Filme</h1>
    </div>
{% endblock %}

{% block conteudo %}
    <div class="col-12">
        <form action="{% url 'guiaapp:filme_update' filme_id %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="reset" class="btn btn-danger">Reset</button>
        </form>
    </div>
{% endblock %}