{% extends 'conteudo.html' %}

{% block estilo %}

    .card {
        background-color: #001D3D;
        color: #FFF;
        border-radius: 15px !important;
        box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.4) !important;
    }

{% endblock %}

{% block titulo %}
    <div class="card card-header mt-5 mb-3">
        <h1>App Agenda</h1>
        <h5>Pedimos desculpas pelo transtorno. Volte em outro momento ou cadastre seu e-mail que avisaremos quando disponível.</h5>
    </div>
{% endblock %}

{% block conteudo %}
    <div class="container">
        <div class="container-sm form-control text-center">
            <h5 class="text-center">Cadastrar E-mail</h5><br>
            <form action="{% url 'em_producao' %}" method="post">
                <div class="d-grid gap-2 col-6 mx-auto">
                    {% csrf_token %}
                    {{form.as_p}}
                </div>

                <button class="btn btn-dark">Inscrever E-mail</button>
            </form>
        </div>
        <br>
        <a class="d-grid gap-2 col-3 mx-auto btn btn-primary" href="{% url 'home' %}" role="button">
            <span class="text-light text-center">
                Voltar
            </span>
        </a>
    </div>


{% endblock %}