{% extends 'base.html' %}

{% block estilo %}

{% endblock %}

{% block menu %}
<style>

  .navbar-brand  {
    color: #FFF;
  }

 .nav-link {
    color: #FFF;
  }

  #rodape {
    background-color: #000814;
    text-align: center;
    color: #FFF;
    padding: 1.8em 0;
    margin-top: 4em;
  }

  #rodape a {
    color: #FFC300;
    text-decoration: none;
  }

  #rodape a:hover {
    color: #FFD60A;
  }

</style>
  <div class="container-fluid navbar navbar-expand-lg">
    <a class="navbar-brand" href="{% url 'home' %}">Meus Apps</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'guiaapp:filme_list' %}">Filmes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tarefa_index' %}">Tarefas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'em_producao' %}">Agenda</a>
        </li>
      </ul>
    </div>

        <!-- mostrar quando logado -->
        {% if request.user.is_authenticated %}
          <ul class="navbar-nav me-5">
            <li class="nav-item dropdown me-3">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Olá, {{ request.user }}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'meus_dados' %}">Meus dados</a></li>
                <li><a class="dropdown-item" href="{% url 'alterar_senha' %}">Alterar senha</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
              </ul>
            </li>
          </ul>
        {% else %}
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="btn btn-outline-primary me-2" href="{% url 'login' %}">Entrar</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-primary" href="{% url 'cadastrar_usuario' %}">Cadastrar</a>
            </li>
          </ul>
        {% endif %}

          <!-- mostrar quando não logado -->
  </div>
{% endblock %}

{% block rodape %}
  <footer id="rodape" class="row">
      <span>Desenvolvido por <a href="https://github.com/matheuskbar?tab=repositories" target="_blank">Matheus Kontarski</a></span>
  </footer>
{% endblock %}