{% extends 'conteudo.html' %}

{% load bootstrap %}

{% block conteudo %}
    <h2>Cadastrar Usuário</h2>
    <form method="post">
        {% csrf_token %}
        {{form|bootstrap }}
        <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
<!--    {% if messages %}-->
<!--        <ul class="messages">-->
<!--            {% for message in messages %}-->
<!--            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>-->
<!--            {% endfor %}-->
<!--        </ul>-->
<!--    {% endif %}-->
{% endblock %}