{% extends 'conteudo.html' %}


{% block estilo %}

{% endblock %}

{% block head %}

{% endblock %}

{% block titulo %}
    <h1>Seus Dados</h1>
{% endblock %}

{% block conteudo %}

    <div class="row">
        <div class="col-4">
            <img src="media/{{ usuario.foto }}" style="width:100%" alt="">
            <div class="">
                <h2>{{ request.user }}</h2>
            </div>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'update_dados' %}">Alterar Dados Pessoais</a>
              </li>
              <li class="list-group-item">
                  <a class="nav-link" href="{% url 'alterar_senha' %}">Alterar Senha de Usuário</a>
              </li>
              <li class="list-group-item">
                  <a class="nav-link" href="{% url 'logout' %}">Sair</a>
              </li>
            </ul>

        </div>
        <div class="col-8">
            <div class="card mb-2">
                <div class="card-header">
                  Nome Completo:
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{ usuario.nome_completo }}</h5>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-header">
                  E-mail:
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{ usuario.email }}</h5>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-header">
                  CPF Cadastrado:
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{ usuario.cpf }}</h5>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                  Telefone de Contato:
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{ usuario.telefone }}</h5>
                </div>
            </div>
        </div>
    </div>
{% endblock %}