{% extends 'conteudo.html' %}


{% block estilo %}
    #titulo.card {
        background-color: #001D3D;
        color: #FFF;
        border-radius: 15px !important;
        box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.4) !important;
    }

    .row {
        padding: 0 0.4em;
    }

    .col {
        background-color: #001D3D;
        margin: 0 0.4em;
        padding: 40px 10px;
        box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.4);
        border-radius: 15px;
    }

    h2 {
        color: #FFF;
        text-align: center;
        margin: 0.6em;
    }

    img {
        width: 100%;
        border-radius: 15px !important;
    }
{% endblock %}

{% block head %}

{% endblock %}

{% block titulo %}
    <div id="titulo" class="card card-header mt-5 mb-3">
        <h1>Seus Dados</h1>
    </div>
{% endblock %}


{% block conteudo %}

    <div class="row">
        <div class="col col-3   ">
            <img src="media/{{ usuario.foto }}" alt="">
            <div class="">
                <h2>{{ request.user }}</h2>
            </div>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                  <a  class="nav-link active" aria-current="page" href="{% url 'update_dados' %}">Alterar Dados Pessoais</a>
              </li>
              <li class="list-group-item">
                  <a class="nav-link" href="{% url 'alterar_senha' %}">Alterar Senha de Usuário</a>
              </li>
              <li class="list-group-item">
                  <a class="nav-link" href="{% url 'logout' %}">Sair</a>
              </li>
            </ul>

        </div>
        <div class="col">
            <div class="card mb-2">
                <div class="card-header">
                  Nome Completo:
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{ usuario.nome_completo }}</h5>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-header">
                  E-mail:
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{ usuario.email }}</h5>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-header">
                  CPF Cadastrado:
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{ usuario.cpf }}</h5>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                  Telefone de Contato:
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{ usuario.telefone }}</h5>
                </div>
            </div>
        </div>
    </div>
{% endblock %}